h3 { color: blue; }

.center{
    display: flex;
    justify-content: center;
}

.center-container {
    background-color: red;
    justify-content: center;
    max-width: 500px;
    min-width: 500px;
}