html{
    height: 100%;
}

body{
    background-color: #222;
    min-height: 1000px;
    color: white;
}

.center{
    display: flex;
    justify-content: center;
}

.center-container {
    background-color: #444;
    justify-content: center;
}

.error {
    color: red;
}
