

body{
    background-color: #222;
    min-height: 1000px;
    color: white;
}

.center{
    display: flex;
    justify-content: center;
}

.center-container {
    background-color: #444;
    justify-content: center;
    max-width: 500px;
    min-width: 500px;
    min-height: 600px;
}

.error {
    color: red;
}